body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	overflow: hidden;
}

.toggle {
	position: fixed;
	top: 20px;
	right: 20px;
	min-width: 40px;
	height: 40px;
	padding: 0 20px;
	background: #262626;
	text-transform: uppercase;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	font-weight: 700;
	cursor: pointer;
	z-index: 5;
	border: 1px solid #ffffff;
}

.toggle::before {
	content: 'Menu';
	line-height: 40px;
	color: #ffffff;
}

.toggle.active::before {
	content: 'Close';	
}

.sidebar {
	position: fixed;
	top: 0;
	left: -100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: #262626;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

.sidebar.active {
	left: 0;
}

.sidebar-list {
	position: relative;
}

.sidebar-list__item {
	list-style: none;
	text-align: center;
}

.sidebar-list__link {
	display: block;
	padding: 5px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 2em;
	color: #ffffff;
	letter-spacing: 1px;
	font-weight: 700;
	-webkit-transition-delay: .5s;
	-moz-transition-delay: .5s;
	-ms-transition-delay: .5s;
	-o-transition-delay: .5s;
	transition-delay: .5s;	
}

.sidebar-list__link:hover {
	color: #ffeb3b;
}

.sidebar-list__link::before {
	content: attr(data-text);
	position: absolute;	
	top: 0;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	font-size: 6em;
	opacity: 0;
	color: #ffffff;
	pointer-events: none;
	z-index: -1;
	font-family: initial;
}

.sidebar-list__link:hover::before {
	top: 50%;
	opacity: .1;
}
